{
  "info": {
    "version": "v1",
    "title": "Horsa - IDM Gateway",
    "description": "Doclife and HorsaFE Gateway from IDM"
  },
  "schemes": ["https"],
  "produces": ["application/json"],
  "basePath": "/infor/CustomerApi/horsagw_dl/horsagwdl",
  "host": "ios.corp.sime.it:7443",
  "swagger": "2.0",
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string"
        },
        "Message": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    }
  },
  "paths": {
    "/postToDocLife": {
      "post": {
        "summary": "Send to DocLife",
        "description": "Send document to DocLife",
        "consumes": ["application/xml"],
        "responses": {
          "200": {
            "description": "On success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "On error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "query",
            "type": "string",
            "name": "folder",
            "description": "DocLife Folder"
          },
          {
            "required": false,
            "in": "query",
            "type": "string",
            "name": "overwrite",
            "description": "DocLife Overwrite existing"
          },
          {
            "in": "body",
            "name": "SyncContentDocument",
            "description": "The user to create.",
            "schema": {
              "type": "object"
            }
          },
          {
            "in": "header",
            "name": "targetURL",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/postToHorsaFE": {
      "post": {
        "summary": "Send to HorsaFE",
        "description": "Send document to HorsaFE",
        "consumes": ["application/xml"],
        "responses": {
          "200": {
            "description": "On success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "On error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "SyncContentDocument",
            "description": "The user to create.",
            "schema": {
              "type": "object"
            }
          },
          {
            "in": "header",
            "name": "targetURL",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/retrieveReceiptsActiveInvoices": {
      "get": {
        "tags": ["Api Clienti Consultatori (Ciclo Attivo)"],
        "summary": "Lista dei base64 delle ricevute attive da recuperare (primi 10 elementi) con i relativi attributi",
        "produces": ["application/xml"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/getActiveInvoicePDF": {
      "post": {
        "tags": ["Api Clienti Consultatori (Ciclo Attivo)"],
        "summary": "Converts xml to pdf using a stylesheet",
        "consumes": ["application/xml"],
        "produces": ["application/xml"],
        "responses": {
          "200": {
            "description": "On success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "On error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "SyncContentDocument",
            "description": "The user to create.",
            "schema": {
              "type": "object"
            },
            "required": true
          }
        ]
      }
    },
    "/retrievePassiveInvoices": {
      "get": {
        "tags": ["Api Clienti Consultatori (Ciclo Passivo)"],
        "summary": "Lista dei base64 delle fatture da recuperare (primi 10 elementi) e dei relativi attributi",
        "produces": ["application/xml"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/getPassiveInvoicePDF": {
      "post": {
        "tags": ["Api Clienti Consultatori (Ciclo Passivo)"],
        "summary": "Converts xml to pdf using a stylesheet",
        "consumes": ["application/xml"],
        "produces": ["application/xml"],
        "responses": {
          "200": {
            "description": "On success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "On error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "SyncContentDocument",
            "description": "The user to create.",
            "schema": {
              "type": "object"
            },
            "required": true
          }
        ]
      }
    },
    "/getPassiveInvoiceAttachment": {
      "post": {
        "tags": ["Api Clienti Consultatori (Ciclo Passivo)"],
        "summary": "Returns the attachments of the passive invoice (if present)",
        "consumes": ["application/xml"],
        "produces": ["application/xml"],
        "responses": {
          "200": {
            "description": "On success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "On error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "SyncContentDocument",
            "description": "The user to create.",
            "schema": {
              "type": "object"
            },
            "required": true
          }
        ]
      }
    }
  }
}
